.activities-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.activities-select {
  font-size: 20px;
  width: 200px;
}

.activities-contenedor label {
  color: whitesmoke;
  padding-bottom: 12px;
  font-size: 24px;
  font-weight: 700;
}
